{% extends "html/base-logged-in.twig" %}

{% block styles %}
    <link href="/css/card.css" rel="stylesheet">
{% endblock %}

{% block main %}
{% verbatim %}
<main id="app" v-cloak>
    <div class="arcs-loader" v-if="!isFirstLoadComplete"></div>

    <template v-if="isFirstLoadComplete">
        <section style="padding: 1rem; display: inline-block;" v-if="sets.length">
            <div class="card-editor__toggle" @click="toggleSets">
                <template v-if="!showSets">&#9654;</template>
                <template v-if="showSets">&#9660;</template>
                Sets
            </div>
            <div v-if="showSets">
                <label class="card-editor__set" v-for="s in sets" :key="s.id">
                    <input type="checkbox" v-model="setIds" :value="s.id"> {{ s.name }}
                </label>
            </div>
            <div style="margin-top: 0.5rem; text-align: center;">
                <button type="button" class="button" v-if="showSets" @click="resetSetIds"
                    :disabled="isLoading || !changedSetIds"
                >Reset</button>
            </div>
        </section>

        <div class="card-page">
            <div class="iteration-reel">
                <a class="iteration-reel__iteration" href="/cards">&laquo; Back To All</a>
                <div v-for="i in iterations" :key="i.iterationId"
                    :class="{
                        'iteration-reel__iteration': true,
                        'iteration-reel__iteration--current': i.iterationId === current.iterationId,
                        'iteration-reel__iteration--comparing': comparing !== null && i.iterationId === comparing.iterationId,
                        'iteration-reel__iteration--hovering': i.iterationId === hoveringIterationId,
                    }"
                    @mouseover="onHoverIteration(i.iterationId)"
                    @mouseleave="onUnhoverIteration"
                    @click="compare(i)"
                >
                    <div>{{ i.createdAt }}</div>
                    <div>{{ i.createdBy }}</div>
                </div>
            </div>

            <div class="card-editor__iteration">
                <div class="card-editor__title card-editor__title--current">Current Version</div>

                <div class="card-editor">
                    <div class="card-editor__line">
                        <input type="number" min="0" step="1" name="currentCost" placeholder="Cost"
                            :class="{
                                'card-editor__cost': true,
                                'card-editor__changed': changedOriginalCost,
                            }"
                            v-model="current.cost"
                            @keydown.enter="save"
                        >

                        <input type="text" :maxlength="maxLengths.name" name="currentName" placeholder="Card Name"
                            :class="{
                                'card-editor__name': true,
                                'card-editor__changed': changedOriginalName,
                            }"
                            v-model="current.name"
                            @keydown.enter="save"
                        >

                        <input type="number" min="1" step="1" name="currentLife" placeholder="Life"
                            v-if="showStartingLife(current)"
                            :class="{
                                'card-editor__starting-life': true,
                                'card-editor__changed': changedOriginalStartingLife,
                            }"
                            v-model="current.startingLife"
                            @keydown.enter="save"
                        >
                    </div>

                    <div class="card-editor__line">
                        <select name="currentEnflowable"
                            :class="{
                                'card-editor__changed': changedOriginalEnflowable,
                            }"
                            v-model="current.enflowable"
                            @keydown.enter="save"
                        >
                            <option :value="null">???</option>
                            <option :value="true">Enflowable</option>
                            <option :value="false">Not Enflowable</option>
                        </select>
                    </div>

                    <div class="card-editor__line">
                        <select name="currentAffinityId"
                            :class="{
                                'card-editor__changed': changedOriginalAffinity,
                            }"
                            v-model="current.affinityId"
                            @keydown.enter="save"
                        >
                            <option :value="null">[Affinity TBD]</option>
                            <option v-for="a in affinities" :key="a.id" :value="a.id">
                                {{ a.name }}
                            </option>
                        </select>
                    </div>

                    <div class="card-editor__line">
                        <select name="currentSpeedModifier"
                            :class="{
                                'card-editor__changed': changedOriginalSpeedModifier,
                            }"
                            v-model="current.speedModifier"
                            @keydown.enter="save"
                        >
                            <option :value="null">???</option>
                            <option v-for="m in speedModifiers" :key="m.value" :value="m.value">
                                {{ m.name }}
                            </option>
                        </select>

                        <select name="currentZoneModifier"
                            :class="{
                                'card-editor__changed': changedOriginalZoneModifier,
                            }"
                            v-model="current.zoneModifier"
                            @keydown.enter="save"
                        >
                            <option :value="null">???</option>
                            <option v-for="m in zoneModifiers" :key="m.value" :value="m.value">
                                {{ m.name }}
                            </option>
                        </select>

                        <select name="currentCardType"
                            :class="{
                                'card-editor__changed': changedOriginalCardType,
                            }"
                            v-model="current.cardType"
                            @keydown.enter="save"
                        >
                            <option :value="null">???</option>
                            <option v-for="t in cardTypes" :key="t.value" :value="t.value">
                                {{ t.name }}
                            </option>
                        </select>
                    </div>

                    <div class="card-editor__line">
                        <textarea :maxlength="maxLengths.rulesText" name="currentRulesText"
                            :class="{
                                'card-editor__rules-text': true,
                                'card-editor__changed': changedOriginalRulesText,
                            }"
                            v-model="current.rulesText"
                        ></textarea>
                    </div>

                    <div class="card-editor__line card-editor__line--power-health" v-if="showPowerHealth(current)">
                        <input type="number" step="1" name="currentPower" placeholder="Power"
                            :class="{
                                'card-editor__power': true,
                                'card-editor__changed': changedOriginalPower,
                            }"
                            v-model="current.power"
                            @keydown.enter="save"
                        >
                        <input type="number" step="1" name="currentHealth" placeholder="Health"
                            :class="{
                                'card-editor__health': true,
                                'card-editor__changed': changedOriginalHealth,
                            }"
                            v-model="current.health"
                            @keydown.enter="save"
                        >
                    </div>
                </div>

                <div class="card-editor__actions">
                    <button type="button" class="button" @click="save"
                        :disabled="!isSaveEnabled"
                    >Save</button>

                    <button type="button" class="button" @click="resetChanges"
                        :disabled="isLoading || !changedOriginal"
                    >Reset Changes</button>
                </div>
            </div>

            <div class="card-editor__iteration" v-if="comparing !== null">
                <div class="card-editor__title card-editor__title--comparing">Comparing Version</div>

                <div class="card-editor">
                    <div class="card-editor__line">
                        <input type="number" min="0" step="1" name="comparingCost" placeholder="Cost" disabled
                            :class="{
                                'card-editor__cost': true,
                                'card-editor__changed': changedComparingCost,
                            }"
                            v-model="comparing.cost"
                        >

                        <input type="text" :maxlength="maxLengths.name" name="comparingName" placeholder="Card Name" disabled
                            :class="{
                                'card-editor__name': true,
                                'card-editor__changed': changedComparingName,
                            }"
                            v-model="comparing.name"
                        >

                        <input type="number" min="1" step="1" name="comparingLife" placeholder="Life" disabled
                            v-if="showStartingLife(comparing)"
                            :class="{
                                'card-editor__starting-life': true,
                                'card-editor__changed': changedComparingStartingLife,
                            }"
                            v-model="comparing.startingLife"
                        >
                    </div>

                    <div class="card-editor__line">
                        <select name="comparingEnflowable" disabled
                            :class="{
                                'card-editor__changed': changedComparingEnflowable,
                            }"
                            v-model="comparing.enflowable"
                        >
                            <option :value="null">???</option>
                            <option :value="true">Enflowable</option>
                            <option :value="false">Not Enflowable</option>
                        </select>
                    </div>

                    <div class="card-editor__line">
                        <select name="comparingAffinityId" disabled
                            :class="{
                                'card-editor__changed': changedComparingAffinity,
                            }"
                            v-model="comparing.affinityId"
                        >
                            <option :value="null">[Affinity TBD]</option>
                            <option v-for="a in affinities" :key="a.id" :value="a.id">
                                {{ a.name }}
                            </option>
                        </select>
                    </div>

                    <div class="card-editor__line">
                        <select name="comparingSpeedModifier" disabled
                            :class="{
                                'card-editor__changed': changedComparingSpeedModifier,
                            }"
                            v-model="comparing.speedModifier"
                        >
                            <option :value="null">???</option>
                            <option v-for="m in speedModifiers" :key="m.value" :value="m.value">
                                {{ m.name }}
                            </option>
                        </select>

                        <select name="comparingZoneModifier" disabled
                            :class="{
                                'card-editor__changed': changedComparingZoneModifier,
                            }"
                            v-model="comparing.zoneModifier"
                        >
                            <option :value="null">???</option>
                            <option v-for="m in zoneModifiers" :key="m.value" :value="m.value">
                                {{ m.name }}
                            </option>
                        </select>

                        <select name="comparingCardType" disabled
                            :class="{
                                'card-editor__changed': changedComparingCardType,
                            }"
                            v-model="comparing.cardType"
                        >
                            <option :value="null">???</option>
                            <option v-for="t in cardTypes" :key="t.value" :value="t.value">
                                {{ t.name }}
                            </option>
                        </select>
                    </div>

                    <div class="card-editor__line">
                        <textarea :maxlength="maxLengths.rulesText" name="comparingRulesText" disabled
                            :class="{
                                'card-editor__rules-text': true,
                                'card-editor__changed': changedComparingRulesText,
                            }"
                            v-model="comparing.rulesText"
                        ></textarea>
                    </div>

                    <div class="card-editor__line card-editor__line--power-health" v-if="showPowerHealth(comparing)">
                        <input type="number" step="1" name="comparingPower" placeholder="Power" disabled
                            :class="{
                                'card-editor__power': true,
                                'card-editor__changed': changedComparingPower,
                            }"
                            v-model="comparing.power"
                        >
                        <input type="number" step="1" name="comparingHealth" placeholder="Health" disabled
                            :class="{
                                'card-editor__health': true,
                                'card-editor__changed': changedComparingHealth,
                            }"
                            v-model="comparing.health"
                        >
                    </div>
                </div>

                <div class="card-editor__actions">
                    <button type="button" class="button" @click="copyComparingIntoCurrent"
                        :disabled="isLoading || !changedComparing"
                    >Copy into Current</button>

                    <button type="button" class="button" @click="setAsCurrent"
                        :disabled="isLoading || comparing === null || current.iterationId === comparing.iterationId"
                    >Set as Current</button>
                </div>
            </div>

            <div class="card-editor__comments">
                <div class="card-editor__new-comment">
                    <div>Design Comments</div>
                    <textarea class="card-editor__new-comment-text" name="newCommentText"
                        v-model="newCommentText"
                    ></textarea>
                    <button type="button" class="button"
                        v-if="current.cardId !== null"
                        :disabled="!newCommentText"
                        @click="saveComment"
                    >Save</button>
                </div>

                <div class="card-editor__old-comments">
                    <div v-for="c in comments" :key="c.id"
                        :class="{
                            'old-comment': true,
                            'old-comment--current': c.iterationId === current.iterationId,
                            'old-comment--comparing': comparing !== null && c.iterationId === comparing.iterationId,
                            'old-comment--hovering': c.iterationId === hoveringIterationId,
                        }"
                        @mouseover="onHoverIteration(c.iterationId)"
                        @mouseleave="onUnhoverIteration"
                    >
                        <div class="card-editor__old-comment-header">{{ c.createdBy }} @ {{ c.createdAt }}</div>
                        <div v-html="c.text"></div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</main>
{% endverbatim %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.prod.min.js"></script>

    <script type="module" src="/js/card.js"></script>
{% endblock %}
